table{
    color:blueviolet;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
    border-collapse:collapse;
    font-style:italic;
}
td{
    border:solid black;
}
thead{
    border:solid black;
}
